.container {
  display: flex;
}

.dashboardContent {
  flex: 1;  /* The dashboard takes up the remaining space (75%) */
  padding: 1rem;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 20%;
  height: 50%;
  padding: 1rem;
  
  /* Center goalContainer on the screen */
  position: absolute;
  top: 50%;          /* Move to the center vertically */
  left: 50%;         /* Move to the center horizontally */
  transform: translate(-50%, -50%);  /* Adjust for the container's own size */
}


.header {
  margin-bottom: 50px;
}

form {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}