.container {
  display: flex;
  z-index: 10;
}

.dashboardContent {
  flex: 1; /* Take up the remaining space */
  padding: 1rem;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 20%;
  height: 50%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  background-color: #ffffff;
  color: #000000;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box; /* Includes padding and border in width/height */
  overflow: hidden; /* Prevents scrolling */
}

.errorMessage {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
  position: absolute;
  top: 1px;
}

.closeButton {
  background: none;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 0px;
  color: red;
}

.icon {
  margin-top: 15px;
  padding-right: 10px;
  color: #0582ca;
}

.mainInput {
  display: flex;
  padding: 10px;
  margin-bottom: 1rem; /* Adjust spacing for consistent look */
  margin-top: 1rem;
  font-size: 1.5rem; /* Larger font for prominence */
  text-align: left;
  border-bottom: 2px solid #ffffff; /* Add border to the bottom */
  outline: none; /* Remove focus outline */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: border-color 0.3s ease; /* Smooth border color transition */
  width: 100%;
}

.button {
  width: 70%;
  font-size: 26px;
  margin-top: 15px;
  align-self: center;
  border-radius: 8px;
  background-color: #0582ca;
  color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.button:hover {
  background-color: #0471a0;
  border-color: #0471a0;
}

.button:active {
  background-color: #045b89;
  border-color: #045b89;
  transform: scale(0.98); 
}

.createForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the right */
  gap: 0.25rem;
  padding: 15px;
  flex-grow: 1;

  max-width: 100%; /* Ensures it doesn't overflow horizontally */
  max-height: 100%; /* Ensures it doesn't overflow vertically */
  overflow: auto; /* Allows scrolling within the form if content grows */

  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}

/* For WebKit browsers like Chrome and Safari */
.createForm::-webkit-scrollbar {
  width: 4px; /* Makes the scrollbar super thin */
}

.createForm::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Track color */
}

.createForm::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Scroll thumb color */
  border-radius: 3px; /* Rounded edges for the thumb */
}

.createForm::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Thumb hover color */
}

.inputBig,
.inputString,
.inputNum,
.inputDate {
  background-color: #ffffff;
  color: #000F08;
  border-color: #000F08;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px; 
  margin-bottom: 5px;
}

.inputBig {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.85rem;
  border: none;
  outline: none;
}

.inputString {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.85rem;
  border: none;
  outline: none;
}

.header {
  font-size: 1.25rem;
}

.values {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.inputNum {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.45rem;
  font-size: 1.65rem;
  border: none;
  outline: none;
}

.inputDate {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.75rem; /* Adjusted to ensure clarity and consistency with labels */
  border: none;
  outline: none;
}

input:focus {
  border-color: #8BAAAD;
  box-shadow: 0 0 4px rgba(139, 170, 173, 0.5);
}
