* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}

.dashboardContainer {
  flex: 1;  /* The dashboard takes up the remaining space (75%) */
  padding: 1rem;
}