* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-height: 100vh;  /* Ensure the container takes up the full height */
}

.navbar {
  width: 100%;  /* Ensure navbar takes up the full width */
  flex-shrink: 0;  /* Prevent navbar from shrinking */
  background-color: #F5F5F5;  /* Example background color for navbar */
}

.dashboardContainer {
  flex-grow: 1;  /* The dashboard takes up the remaining space */
  padding: 1rem;
  padding-left: 390px;
  padding-right: 390px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F5F5F5;  /* Optional: Set background color for the dashboard */
}

/* Responsive Design */

/* Phones */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .dashboardContainer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .dashboardContainer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
