.navbar {
  text-decoration: none;
  flex: 0 0 3%;  /* Navbar takes up 3% of container width */
  background-color: white;
  border-radius: 2px;
  height: 3vh;
  padding-left: 390px;
  padding-right: 390px;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2rem;
  width: 100%;
  font-size: 1.5rem;  /* Adjust font size for better responsiveness */
}

li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;  /* Reduce gap between list items for better responsiveness */
  width: 100%;
  border-radius: 25px;
  transition: border 0.1s ease;
}

.link {
  color: #ddd;
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  transition: color 0.1s ease, background-color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}

.active {
  color: #000000;
  border: none;
  border-bottom: 3px solid #000000;
  box-shadow: none;
}

.link:hover {
  color: #000000;
  border: none;
  border-bottom: 3px solid #000000;
  box-shadow: none;
}

/* Responsive Design */

/* Phones */
@media (max-width: 600px) {
  .navbar {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto; 
  }

  .navLinks {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    font-size: 1.25rem;  
  }

  .link {
    font-size: 1.2rem; 
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }

  .navLinks {
    flex-direction: row;
    justify-content: left;
    gap: 1.5rem;
    font-size: 1.4rem; 
  }

  .link {
    font-size: 1.3rem;  
  }
}