.navbar {
  text-decoration: none;
  flex: 0 0 3%;  /* The navbar takes up 25% of the container width */
  background-color: #F4FFF8;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #8BAAAD;
  height: 100vh;  /* Optionally, to make it take up the full height */
  padding-top: 25px;
}

.navLinks {
  list-style-type: none;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 90vh;
  font-size: 2rem;
}

li {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 75px;
  border-radius: 25px;
  transition: border 0.1s ease;
}

.link {
  color: #000F08;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  background-color: transparent;
  transition: color 0.1s ease, background-color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  margin: 5px;
  border: 1px solid transparent; /* Add a transparent border to maintain consistent size */
  border-radius: 2px;
}

.active {
  background-color: #F4FFF8;
  border: 1px solid #ddd; /* Consistent border */
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.active:hover {
  background-color: #F4FFF8;
  color: #000F08;
}

.link:hover {
  background-color: #000F08;
  border: 1px solid #ddd; /* Ensure consistent border */
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #F4FFF8;
}
