* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

.navbar {
  text-decoration: none;
  flex: 0 0 10%;  /* The navbar takes up 25% of the container width */
  background-color: rgb(47, 130, 224);
  color: white;
  height: 100vh;  /* Optionally, to make it take up the full height */
}

.profile {
  margin-top: 25px;
  text-align: center;
  align-items: baseline;
}

.name {
  font-size: 2rem;
  padding-bottom: 25px;
}

.navLinks {
  list-style-type: none;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 90vh;
  font-size: 2rem;
}

li {
  width: 95%;
  height: 75px;
  border-radius: 25px;
}

.link {
  display: flex;
  justify-content: left;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 25px;
  border-radius: 25px;
}

.active {
  background-color: black;
}

.active:hover {
  font-size: 25px;
}

.link:hover {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}