.mainContainer {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  width: 100vw;
}

.displayName {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 2.15rem;
  color:  #000F08;
}

.errorMessage{
  padding-top: 15px;
  color: red;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.65rem;
  padding-top: 95px;
  padding-bottom: 5px;
}

.subtitle {
  margin-top: 20px;
  font-size: 1rem;
  color: gray;
  margin-bottom: 20px;
}

.form {
  background-color: white;
  text-align: left;
  transform: scale(1);
  width: 100%;
  max-width: 500px; 
  height: auto; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 45px;
  padding-right: 45px;
}

.passwordWrapper {
  position: relative;
  width: 100%; 
}

.input {
  width: 100%;
  padding: 12px 0;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #000F08;
  outline: none;
  border-radius: 0;
}

.input::placeholder {
  color: #ccc; 
  font-style: italic;
}

.input:focus {
  border-bottom: 2px solid #0582ca; 
}

.sign_in_button {
  width: 100%;
  padding: 12px;
  margin-left: -1px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign_in_button {
  background-color: #0582ca;
  width: 100%;
}

.sign_in_button:hover {
  background-color: #4fc1ff;
}

.passwordWrapper {
  display: flex;
  flex-direction: row;
}

.toggleButton {
  background-color: none;
  color: black;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
}

.toggleButton:hover {
  color: #0582ca;
  background-color: transparent;
}

.link {
  color: #0582ca;
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  text-decoration: none;
  color: #4fc1ff;
}

/* Responsive Design */

/* PHONES */
@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
  }

  .container {
    padding: 20px; 
  }

  .form {
    width: 90%; 
    padding: 20px;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }
}


/* TABLETS */
@media (min-width: 601px) and (max-width: 1024px) {
  .mainContainer {
    flex-direction: column; 
  }

  .form {
    width: 80%;
    padding: 30px; 
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1rem; 
  }
}

/* LAPTOPS */
@media (min-width: 1025px) and (max-width: 1200px) {
  .mainContainer {
    flex-direction: row;
  }

  .form {
    width: 60%;
    padding: 40px; 
  }

  .title {
    font-size: 1.9rem;
  }
}

/* PCs */
@media (min-width: 1201px) {
  .mainContainer {
    flex-direction: row; 
  }

  .form {
    width: 50%; 
    padding: 50px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.1rem; 
  }
}